<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddRecord EJS</title>
</head>
<body>
    <form action="/addRecord" method="post">
        <label for="SongName">Enter Song Name:</label>
        <input id="SongName" type="text" name="Song Name">
        <br>
        <label for="ArtistID">Enter Artist ID:</label>
        <input id="ArtistID" type="text" name="Artist ID">
        <br>
        <label for="YearReleased">Year Released:</label>
        <input id="YearReleased" type="text" name="Year Released">
        <br>
        <input type="submit" value="Save">
    </form>
</body>
</html>