<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddRecord EJS</title>
</head>
<body>
    <form action="/addRecord" method="post">
        <label for="Song_Name">Enter Song Name:</label>
        <input id="Song_Name" type="text" name="SongName">
        <br>
        <label for="Artist_ID">Enter Artist ID:</label>
        <input id="Artist_ID" type="text" name="ArtistID">
        <br>
        <label for="Year_Released">Year Released:</label>
        <input id="Year_Released" type="text" name="YearReleased">
        <br>
        <input type="submit" value="Save">
    </form>
</body>
</html>