<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Record EJS</title>
</head>
<body>
    <form action="/updateRecord/:id" method="post">
        <label for="Song_ID">Enter the Song ID</label>
        <input id="Song_ID" type="text" name="SongID">
        <br>
        <label for="Song_Name">Enter the Song Name:</label>
        <input id="Song_Name" type="text" name="SongName">
        <br>
        <label for="Artist_ID">Enter the Artist ID</label>
        <input id="Artist_ID" type="text" name="ArtistID">
        <br>
        <label for="Year_Released">Enter the Year the Song was Released:</label>
        <input id="Year_Released" type="text" name="YearReleased">
        <br>
        <!-- Figure out how to submit it correctly
        <form action="/updateRecord/submit" method="post">
            <input type="submit" value="Update">
        </form>-->
    </form>

    <!--value="<= importantInfo.SongID >"-->
</body>
</html>