<html lang="en">
    <!--
Project 3
Section 002
Team 1

Shannon Murray
Joshua Card
Jesse Brayden Buhler
Jarod Jones
Zachary Sterling
Brita Szymanski

This program displays information from a database of songs. Each row can be edited and/or deleted. 
When editing a row in the database the user is redirected to another page, the info from that row automatically 
populates into the fields on the edit song page, and then the user can make their changes and submit them. 
There is an add button that allows the user to add new songs into the database, and there is also a button to start over, 
which deletes everything in the table and then adds back in the original three songs that were in the database. 
When the user submits any changes, additions, or deletes a record, they are redirected back to the main page.

This file is the add song page; it allows the user to input values for each record attribute that can then be added to the 
database. It contains calls to two routes--one that will save the user's changes to the record, and one that will disregard them.
-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Song</title>
    <!--CSS Styling-->
    <style>

        body
        {
            background-image: url(https://wallpapercave.com/wp/wp2480927.png);
            background-size: 300px;
            background-repeat: no-repeat;
            background-size: cover;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        }

        /* Top sections that has the title*/
        .top
        {
            text-align: center; 
            font-weight: bold;  
            text-decoration: underline;
            margin: 20px;
            margin-left: 450px;
            margin-right: 450px;
            padding: 10px;
            border: solid 4px black;
            background-color: rgb(255,255,255,0.9);
            border-radius: 8px;
        }

        /* Center section that contains the main content*/
        .center
        {
            margin-left: 300px;
            margin-right: 300px;
            border: solid 4px black;
            padding: 20px;
            background-color: rgb(255,255,255,0.9);
            border-radius: 8px;

            font-size: 14px;
        }

        /* For the Save and Cancel Buttons*/
        .button
        {
            background-color: black;
            color: white;
            border-radius: 8px;
            padding: 7px;
            border: none;
        }
    </style>

</head>
<body>
    <center>
        <div class="top">
            <h2>Add Song</h2>
        </div>
        <div class="center">
            <!--Form that gathers record attributes from the user and uses a post method to look for the 
                /AddSong(param SongID) Route-->
            <form action="/AddSong" method="post">
                <br><br>
                <label for="SongName">Enter Song Name:</label>
                <input id="SongName" type="text" name="SongName"/>
                <br><br>
                <label for="ArtistID">Enter Artist ID:</label>
                <input id="ArtistID" type="text" name="ArtistID"/>
                <br><br>
                <label for="YearReleased">Enter Year Released:</label>
                <input id="YearReleased" type="text" name="YearReleased"/>
                <br><br>

                <input type="submit" value="Save" class="button">
            </form>
            <!--Form that uses a post method to look for the /cancel Route-->
            <form action="/cancel" method="post">
                <input type="submit" class="button" name="Cancel" value="Cancel">
            </form>
        </div>
    </center>
</body>
</html>